<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enviar Feedback</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
     <h1>Enviar Feedback</h1>
    <form th:action="@{/submitFeedback}" th:object="${feedback}" method="post">
        <label for="customerName">Nome:</label>
        <input type="text" id="customerName" th:field="*{customerName}" required>
        
        <label for="comment">Comentário:</label>
        <textarea id="comment" th:field="*{comment}" required></textarea>
        
        <label for="rating">Classificação (1-5):</label>
        <div class="star-rating">
            <input type="radio" id="star5" name="rating" value="5" required>
            <label for="star5">★</label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4">★</label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3">★</label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2">★</label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1">★</label>
        </div>

        <button type="submit">Enviar</button>
    </form>
    <a href="/feedbacks">Ver Feedbacks</a>
    <a href="/contact">Contato e Suporte</a>
</body>
</html>
