<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Cabeçalho omitido para manter o foco no conteúdo -->
</head>
<body>
    <div class="container">
        <h1>Associação de Disciplina ao Professor</h1>
        <form action="/cad-prof" method="post">
            <div class="mb-3">
                <label for="professor">Selecione o Professor:</label>
                <select class="form-select" id="professor" name="cpfProfessor">
                    <option value="">Selecione...</option>
                    <option th:each="professor : ${professores}" th:value="${professor.cpf}" th:text="${professor.nome}"></option>
                </select>
                        
              
                    
           
        </form>
        
    </div>
</body>
</html>
